/* CSS Document */
body {
	font-size:2em;
	background:rgba(219,219,219,1.00);
	font-family:"微軟正黑體","新繫明體";
}
.ctm-nav{
	background:rgba(206,255,250,1.00);
}
.seo * {
	text-indent:-99999px;
}

#nav { background:none !important;

}
#nav  * {
	color:white;
}

#nav  li:hover * {
	color:rgba(139,202,255,1.00);
}
.navbar {
	margin:0
}

.content >.container {
	padding-top:20px;
	background:rgba(255,255,255,1.00);
}
.container-np {
	padding:0;
}
footer > .container {
	padding:15px;
	background:url(../img/footer.jpg);
	font-size:0.8em;
	color:white;
}
footer p {
	margin:2px;
}

.pre-intro{
	width:33.33%;
	padding:0 10px;
	margin-bottom:20px;
	float:left;
	
}
.pre-intro > div {
		background:rgba(255,247,230,1.00);
		padding:20px;
}
.inside {
	min-height:100px;
	padding:20px 0;
	
	line-height: 80px;
}
.time {
	color:rgba(133,132,132,1.00);
	text-align:right;
	font-size:14px;
}

.pre-intro h2 {
	font-size:1.1em;
}
.pre-intro ul { 
padding-left:20px;
}

.main-intro {
			color:rgba(177,91,0,1.00);

	padding:10px;
	font-size:1.1em;
	line-height:200%;
	color:
}
.content h1{
	color:rgba(0,145,255,1.00);
	margin-bottom:30px;
}

#movie p , #commerce p , #mobile p {
	line-height:180%;
}

.middle span {
	display: inline-block;
  vertical-align: middle;
  line-height: 150%; 
}